<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body><form><table width="200" border="1">
  <tbody>
    <tr>
      <td>&nbsp;amount</td>
      <td><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield"></td>
    </tr>
    <tr>
      <td>&nbsp;amount paid</td>
      <td><label for="textfield2"></label>
        <input type="text" name="textfield2" id="textfield2"></td>
    </tr>
    <tr>
      <td>&nbsp;balance</td>
      <td><label for="textfield3"></label>
        <input type="text" name="textfield3" id="textfield3"></td>
    </tr>
    <tr>
      <td>&nbsp;date&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;status</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</form>
</body>
</html>
