<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<style type="text/css">
.date {
}
</style>
</head>

<body><form><table width="200" border="1">
  <tbody>
    <tr>
      <td>&nbsp;#</td>
		<td>&nbsp;date</td>
      <td >student </td>
      <td>&nbsp;course</td>
      <td>result&nbsp;</td>
      <td>&nbsp;status</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
		<td>&nbsp;</td>
    </tr>
  </tbody>
</table>
</form>
	<a href="#">add</a>
</body>
</html>
