{%extends "admin/adminindex.html" %}
{% block body %}

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
</head>

<body>
<div class="card p-3" style="border-radius:20px;border:solid green">
<form id="form1" action="/admin_add_category_post#why-us" name="form1" method="post" >
  <table class="table  table-borderless">

    <tr style="background-color: black;color: white">
      <td>&nbsp;category</td>
      <td align="center">
        <input class="form-control" type="text" name="textfield" id="textfield"></td>
    </tr>
    <tr style="background-color: Gainsboro;color: white">
<td colspan="2" align="center"><input type="submit" value="Add" class="btn btn-success"></td>
      
    </tr>

</table>
  
</form>
</div>
</body>
</html>
{% endblock %}
