{%extends "landingpage.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><h1>about levelup</h1>

    <section id="aboutog" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="/static/adminindex/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">

            <p class="fst-italic">
              ABOUT
INSTITUTE OF HUMAN RESOURCE MANAGEMENT
IHRM was founded in 2013 built a platform where anyone, anywhere can learn and earn credentials from the india’s one of the top universities - 'Bharatiar'. IHRM offers you inimitable educational services. Our expert counseling meets your needs and values, allowing you to pursue your academic and professional goals. IHRM facilitates you in achieving all that you can in today's competitive academic and vocation. IHRM provides great opportunities and support to all of its students by offering variety of courses in the field of Business, Management, Arts subjects, Accounting, Information Technology & Computer Science and Engineering with the aim to help them build glazing future. IHRM maintains its high standard and quality in all aspects through appropriate counseling, friendly environment, the best qualified advice and solutions.
            </p>
            <
            <p>
              ABOUT
INSTITUTE OF HUMAN RESOURCE MANAGEMENT
IHRM was founded in 2013 built a platform where anyone, anywhere can learn and earn credentials from the india’s one of the top universities - 'Bharatiar'. IHRM offers you inimitable educational services. Our expert counseling meets your needs and values, allowing you to pursue your academic and professional goals. IHRM facilitates you in achieving all that you can in today's competitive academic and vocation. IHRM provides great opportunities and support to all of its students by offering variety of courses in the field of Business, Management, Arts subjects, Accounting, Information Technology & Computer Science and Engineering with the aim to help them build glazing future. IHRM maintains its high standard and quality in all aspects through appropriate counseling, friendly environment, the best qualified advice and solutions.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->


</body>
</html>
{% endblock %}