<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>ADMIN HOME</h2>
<br>
<br>
<h2><
<a href="admin_course_mngt"/> view course</a><br>

<a href="admin_update_course"/> update course</a><br>
<a href="admin_view_category"/> view category</a><br>

<a href="admin_student"/> view student</a><br>
<a href="admin_notification"/> notification</a><br>
<a href="admin_send_notification"/> send notification</a><br>
<a href="admin_payment"/>payment</a><br>

</h2>


</body>
</html>