<!doctype html>
<html lang="en">
  <head>
  	<title>Sign Up 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="static/signup/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Sign Up #01</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-6 col-xl-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-edit"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Create Your Account</h3>
						<form action="/student_registration_post"  method="post" enctype="multipart/form-data" class="signup-form">

		      		<div class="form-group mb-3">
		      			<label class="label" for="name">First Name</label>
		      			<input type="text" name="textfield6" class="form-control" placeholder="John Doe" required >
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="name">Last Name</label>
		      			<input type="text" class="form-control" name="textfield" placeholder="John Doe" required>
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Place</label>
		      			<input type="text" class="form-control" name="textfield5" required >
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Post</label>
		      			<input type="text" class="form-control" name="textfield2" required >
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">City</label>
		      			<input type="text" class="form-control" name="textfield3" required >
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Pin</label>
		      			<input type="numeric" class="form-control" name="textfield4" required maxlength="6" minlength="6">
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Gender:-&nbsp;&nbsp;&nbsp;</label>
						<div class="form-control">
						<input type="radio" name="radio" id="radio" value="male">&nbsp;male&nbsp;&nbsp;&nbsp;
						<input type="radio" name="radio" id="radio2" value="female">&nbsp;female&nbsp;&nbsp;</div>
<!--		      			<input type="text" class="form-control" name="radio" placeholder="johndoe@gmail.com">-->
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Date Of Birth</label>
		      			<input type="date" max="2006-09-13" class="form-control"  name="textfield8" required>
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Email Address</label>
		      			<input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="mail" placeholder="johndoe@gmail.com" required>
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Phone Number</label>
		      			<input type="text" class="form-control"  name="textfield7" required maxlength="10" minlength="10" >
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Nationality</label>
		      			<input type="text" class="form-control" name="select" required >
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Qualification</label>
						<select  class="form-control" name="qual" id="select2" required >
          <option>DIPLOMA</option>
          <option>PLUS TWO</option>
          <option>UG</option>
          <option>PG</option>
        </select>
<!--		      			<input type="text" class="form-control" placeholder="johndoe@gmail.com">-->
		      		</div>
		      		<div class="form-group mb-3">
		      			<label class="label" for="email">Upload photo</label>
		      			<input type="file" class="form-control" name="pic"  required>
		      		</div>

	            <div class="form-group mb-3">
	            	<label class="label" for="password">Password</label>
	              <input id="password-field" name="password" type="password" class="form-control" placeholder="Password">
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-100 text-left">
		            	<label class="checkbox-wrap checkbox-primary">I agree all statements in terms of service
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
	            </div>
	          </form>
	          <p>I'm already a member! <a  href="/">Sign In</a></p>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="static/signup/js/jquery.min.js"></script>
  <script src="static/signup/js/popper.js"></script>
  <script src="static/signup/js/bootstrap.min.js"></script>
  <script src="static/signup/js/main.js"></script>

	</body>
</html>

