<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>STUDENT HOME</h2>
<br>
<br>
<h2>

<a href="/staff_view_course"/> view course</a><br>
<!--<a href="admin_update_course"/> update course</a><br>-->
<!--<a href="admin_view_category"/> view category</a><br>-->
<!--<a href="admin_add_category"/> add category</a><br>-->
<!--<a href="admin_student"/> view student</a><br>-->
<!--<a href="admin_notification"/> notification</a><br>-->
<!--<a href="admin_send_notification"/> send notification</a><br>-->
<!--<a href="admin_payment"/>payment</a><br>-->


</body>
</html>