<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>STUDENT HOME</h2>
<br>
<br>
<h2>
<a href="/student_registration"/>registration</a><br>
<a href="/student_view_course"/> add course</a><br>
<a href="student_view_profile"/> view profile</a>
<!--<a href="admin_view_category"/> view category</a><br>-->
<!--<a href="admin_add_category"/> add category</a><br>-->
<!--<a href="admin_student"/> view student</a><br>-->
<!--<a href="admin_notification"/> notification</a><br>-->
<!--<a href="admin_send_notification"/> send notification</a><br>-->
<!--<a href="admin_payment"/>payment</a><br>-->

</body>
</html>